//color pallete

$darkbiege: #C8C5BB;
$mediumbiege: #D7D4CC;
$lightbiege: #F1EEE3;
$cream: #FDFBF7;

$blue: #272A34;
$pink: #E26167;

$text: #1E1F23;

//fonts

$royalfont: 'Playfair Display', serif;
$normalfont: 'Quicksand', sans-serif;

//text sizes

$fontsmall: 10px;
$fontmedium: 15px;
$fontlarge: 20px;

//common settings

$topmargin: 20px;
