@use 'sass:math';

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Quicksand:wght@400;500;700&display=swap');
@import 'variables';

body {
    font-family: $normalfont;
    background-color: $lightbiege;
}

.App {
    text-align: center;
}


//Navbar CSS
.Navbar {
    margin-top: $topmargin;
    margin-bottom: 20px;
    top: 0; bottom: 0;
    padding: 13px;
    position: fixed;
    z-index: 1;
    .line {
        border-left: 1px solid $blue;
        height: 100%;
        position: absolute;
        left: 50%;
        top: 0; left: 60px;
        opacity: 30%;
    }
    img {
        height: 35px;
        width: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        cursor: pointer;
    }
    .button-bar {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 100px;
        img {
            margin-left: 2px;
            height: 26px;
            width: 26px;
            margin-bottom: 20px;
        }
    }
}

//Homepage
.home {
    margin-left: 60px; //to align to center (due to sidebar)
    margin-top: $topmargin;
    .top-nav {
        display: flex;
        justify-content: space-between;
        margin-left: 5%;
        margin-right: 8%;
        margin-bottom: 50px;
        .icon {
            margin-right: 10px;
        }
        input {
            width: 60%;
            font-size: $fontsmall;
            color: $text;
            background-color: $lightbiege;
            border: none;
            border-bottom: 1px solid $mediumbiege;
        }
        input:focus {
            text-decoration: none;
            border: none;
            outline: none;
        }
    }
    .header {
        text-align: left;
        margin-left: 60px;
        margin-right: 60px;
        max-width: 60%;
        h2 {
            margin-top: 60px;
            margin-right: 40px;
            text-align: left;
            font-weight: 600;
            font-family: $royalfont;
        }
        p {
            margin-top: -2px;
            margin-bottom: 30px;
            font-size: $fontmedium;
        }
    }
}
.button {
    font-size: $fontmedium*0.8;
    background-color: $blue;
    color: white;
    border: none;
    border-radius: 18px;
    padding: 10px;
    text-decoration: none;
}
.button:hover, .button:active, .button:focus {
    color: white;
    text-decoration: none;
}
.accID {
    font-size: $fontmedium*0.8;
    font-weight: 600;
    padding-top: 5px;
}

//Library
.library {
    margin-left: 60px; //to align to center (due to sidebar)
    margin-top: $topmargin*2;
    p {
        margin-left: 7%;
        text-align: left;
        font-family: $royalfont;
        font-weight: 700;
        font-size: $fontlarge*1.6;
        margin-bottom: 50px;
    }
    .books-container {
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        margin-left: 4%;
    }
}

//Add Book
.addbook {
    margin-left: 60px; //to align to center (due to sidebar)
    margin-top: $topmargin*2;
    p {
        margin-left: 7%;
        text-align: left;
        font-family: $royalfont;
        font-weight: 700;
        font-size: $fontlarge*1.6;
        margin-bottom: 50px;
    }
    .main {
        margin: 7%;
        background-color: $cream;
        padding: 5%;
    }
    .form {
        display: flex;
        justify-content: center;
        .file-upload {
            padding-left: 10%;
            height: 166px;
            max-width: 80%;
            background-color: $mediumbiege;
            border-color: #0C0B0E;
        }
        .right {
            text-align: left;
            padding-left: 10%;
        }
        .heading {
            font-size: medium;
            font-weight: 600;
        }
        input {
            width: 100%;
        }
    }
}

//Book Cards
.book-card {
    max-width: 15rem;
    min-height: 20rem;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
    color: white;
    .book-info {
        min-height: 7rem;
    }
    .NFTImg {
        height: 12.5rem;
        width: 10rem;
        box-shadow: -5px 6px 7px 0.5px rgb(173, 173, 173);
        margin-bottom: 12px;
        transition: 0.5s;
    }
    .NFTImg:hover {
        margin-top: -10px;
        transform: scale(1.1); 
    }
    .name {
        padding: 5px;
        text-align: left;
        font-size: $fontmedium;
        color: $text;
    }
    .author {
        padding-left: 5px;
        padding-top: -10px;
        text-align: left;
        font-size: $fontmedium*0.8;
        color: $text;
    }
    .price {
        color: black;
        text-align: left;
        margin-left: 5px;
        display: flex;
        justify-content: left;
        .eth {
            height: 15px;
            margin-bottom: 5px;
            margin-right: 10px;
            margin-top: 10px;
        }
        .money {
            padding-top: 8px;
            font-size: $fontmedium*0.8;
        }
    }
}
.card-link {
    text-decoration: none;
    color: black;
}
.card-link:hover {
    text-decoration: none;
    color: black;
}
.mint {
    border: none;
    margin-top: 10px;
    padding: 5px;
    border-radius: 8px;
    background-color: $darkbiege;
    width: 100%;
    margin-bottom: 50px;
}
.mint:hover {
    text-decoration: underline;
}